/* Css for formatting the paragraph below the header image */


.header-container {
	position: relative;
	text-align: center;
	font-size: 90px;
	color: black;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.brief-intro {
	font-size: 15px;
	margin: 0 0 10px;
	padding: 0 50px 10px 50px;
	position: relative;
}

	.brief-intro::after {
		/*I think this is essentially making an empty box*/
		background-color: white;
		bottom: 0;
		content: '';
		display: block;
		height: 10px;
		left: 50%;
		position: relative;
		transform: translate(-50%, 0);
		width: 200px;
		/*border for the empty box*/
		border-bottom: 3px solid black;
	}

.text-container{
	/*
	padding: 20px 200px 0 200px;
	*/
	padding-top: 1%;
	padding-right: 10%;
	padding-left: 10%;
	width: 100%;
	height: auto;
	position: relative;
	text-align: left;
}

.card{
	margin: 0 0 0 8px;
	width: 100%;
	max-width: 250px;
	height: auto;
}

/*.nopic_name{
		margin-top: 0.5em;
		margin-bottom: 0;
		font-size: 1.3em;
}

nopic{
		margin: 0;
}

.content > .bio {
	font-size: 1.3em !important;
	text-align: center;
}*/


