/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* HEADER IMAGE FORMATTING */
.main-header {
  /*background-color: #d8bfd8;*/
  background-image: url(https://64.media.tumblr.com/0fa9a38f6b89978a70b32568d6502e23/161c6c6d7c9b2977-cf/s640x960/d16c9ae721661d95ae19d3adbd744f60deae5be6.jpg);
  background-size: cover;
  padding: 100px;
}
* {
  box-sizing: border-box;
}

/* SETTING BACKGROUND COLOR SO IT GETS DARKER AS YOU MOVE DOWN */
.body{
  height: 4500px; /* Used to enable scrolling */
  background: linear-gradient(0deg, #ba8cd7 , #d2b2e5 , #e9d8f2 );
                                    /* DARKEST COLOR       LIGHTEST COLOR */
}
/* THIS IS ALL NAVBAR STUFF; I ONLY CHANGED THE COLOR BEHIND THE WORDS */
/* Add a black background color to the top navigation */
nav a
    {
        color:black;
    }

    nav a
    {
      color: white;
    }

    nav a:hover
    {
        color: #229D05;
    }

    .navbar-purple
    {
      background-color: #760E73;
    }

/* THIS MAKES A HORIZONTAL LINE UNDER THE MONTHS */
.hr {
  border: 1px solid black;
}
/* HEADER FORMATTING */
.h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 90px;
  padding: 85px;
  color: black;
}

.h2 {
  font-family: sans-serif;
  font-size: 40px;
}

.p {
  font-family: sans-serif;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
/* TABLE FORMATTING FOR CONTENT */
.table {
  border: 1px;
  border-collapse: collapse;
}
.th {
  border: 1px;
  border-right-color: inherit;
  border-collapse: collapse;
  padding: 10px;
  text-align: left;
  font-family: sans-serif;
  font-size: 20px;
}
.td {
  border: 1px;
  border-collapse: collapse;
  padding: 10px;
  font-family: sans-serif;
  font-size: 15px;
}
.li {
  padding: 5px;
}
