/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

nav a
{
    color:black;
}

nav a
{
  color: white;
}

nav a:hover
{
    color: #FF00FF;
}
/* HEADER IMAGE FORMATTING */
.header-container {
	position: relative;
	text-align: center;
	font-size: 90px;
	color: black;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.navbar-purple
{
  background-color: #760E73;
}
/* HEADER IMAGE FORMATTING */
.brief-intro {
	font-size: 15px;
	margin: 0 0 10px;
	padding: 0 50px 10px 50px;
	position: relative;
}

	.brief-intro::after {
		/*I think this is essentially making an empty box*/
		background-color: white;
		bottom: 0;
		content: '';
		display: block;
		height: 10px;
		left: 50%;
		position: relative;
		transform: translate(-50%, 0);
		width: 200px;
		/*border for the empty box*/
		border-bottom: 3px solid black;
	}

  .text-container{
  	/*
  	padding: 20px 200px 0 200px;
  	*/
  	padding-top: 1%;
  	padding-right: 10%;
  	padding-left: 10%;
  	width: 100%;
  	height: auto;
  	position: relative;
  	text-align: left;
  }
.navbar a:hover, .dropdown:hover .dropbtn {
    color: rgb(23, 235, 23);
    transform: scale(1.15);
}
/* Dropdown content (hidden by default) */
.dropdown-content {

    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    z-index: 1;
}
/* links inside the dropdown */
.dropdown-content a{
    float:none;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}
/* adding a gray background to dropdown on hover */
.dropdown-content a:hover {
    background-color:rgba(128,128,128, 0.15);
    transform: scale(1);
}
/* Show the dropdown menu on hover: */
.dropdown:hover .dropdown-content {
    display: block;
}

/* CONTENT FORMATTING */
.container{
  max-width: 1170px;
  width: 90%;
  padding-top: 10px;
}
/* MORE HEADER FORMATTING */
.h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 90px;
  padding: 85px;
}
.h2 {
  color: black;
  font-family: sans-serif;
  font-size: 50px;
}
.h3{
  color: black;
  font-family: sans-serif;
  font-size: 20px;
  margin-left: 40px;
  font-weight: bold;
}
.list {
  color: 	black;
  padding: 20px;
  font-family: sans-serif;
  font-size: 30px;
}
.sublist {
  padding: 10px;
  margin-left: 60px;
  font-family: sans-serif;
}
.sublist2{
  margin-left: 65px;
}

/* PARAGRAPH FORMATTING*/
.p {
  padding: 50px;
  font-family: sans-serif;
  spacing: 10px;
  color: black;
  font-size: 20px;
  text-align: justify;
}
.hr {
  border: 1px solid black;
}
.Social_Media {
    background-color: rgb(51, 50, 50);
    font-size: 20px;
    text-align: right;
    color: white;
    padding-right: 9%;
}
.social-padding {
    vertical-align: right;
    width: 40px;
    height: 35px;
    padding-left: 5px;
}
* {
    box-sizing: border-box;
  }
