/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* background things */
.main-header {
  background-color: rgba(0, 0, 0, .6);
  background-image: url(https://pbs.twimg.com/media/Dpy6u6vXUAUXBgC.jpg);
  background-size: contain;
  padding-bottom: 40px;
}
.body{
  background-color: #2B072A;
}
/* Add a black background color to the top navigation */
.navbar {
    overflow: hidden;
    background-color: white;
    font-family: arial;
    padding-left: 30%;
}
/* links in the navbar */
.navbar a {

    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 16px 16px; /* first number is vertical padding, second is padding between words */
    text-decoration: none;

    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1); */

}
/* style the dropdown container*/
.dropdown {

    float: left;
    overflow: hidden;
}
/* style the dropdown buttons themselves*/
.dropdown .dropbtn {
    transition: transform .2s;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 0px 0px;
    background-color: inherit;
    font-family: inherit;
    margin: 0; /* the last 3 lines are important for smartphone viewing, apparently */
}

.navbar a:hover, .dropdown:hover .dropbtn {
    color: rgb(23, 235, 23);

    transform: scale(1.15);
}

/* Dropdown content (hidden by default) */
.dropdown-content {

    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    z-index: 1;
}

/* links inside the dropdown */
.dropdown-content a{
    float:none;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}

/* adding a gray background to dropdown on hover */
.dropdown-content a:hover {
    background-color:rgba(128,128,128, 0.15);
    transform: scale(1);
}

/* Show the dropdown menu on hover: */
.dropdown:hover .dropdown-content {
    display: block;
}

/*Disss where the magic begins/
/* header things*/

/*Disss where the magic begins/
/* header things*/

body {
  height: 4000px; /* Used to enable scrolling */
  background: linear-gradient(#FFBCB7 , #FFC3A0, #E8CD96);
  background-repeat: no-repeat;
} /*(55deg, #FF71B5 0%, #FF3898 51%, #FF087F 85%)*/





/*- Screen Sizes*/
/*import fonts*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Oswald");
/*media queries*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}



body {
  font-family: "Open Sans", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  font-size: 0.875em;
  color: black;
  line-height: 1.5;

}

.wrapper {
  margin: 3.125em auto;
  padding: 1em 5em 1em;
  max-width: 1000px;
}

h1 {
  text-align: right;
  font-family: sans-serif;
  font-size: 50px;
  padding: 85px;
  color: white;
  background: url(assets/images/iii.jpg);
  repeat: no-repeat;

}

h2 {
  color: #733B72;
  font-family: "Open Sans", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  text-align: center;
  font-size:30px;
}

/* - &:nth-child(1) {
			 grid-area: entry1;
		 }
   - useful timesaver if there is a lengthy list
*/
.timeline {
  line-height: 1.5em;
  font-size: 14px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  position: relative;
  counter-reset: section;
}
.timeline:before {
  content: "";
  width: 10px;
  height: 100%;
  background: #87ceeb;
  position: absolute;
  top: 0;
  left: -3.313em;
  border-radius: 40px 40px;
}

.timeline--entry {
  position: relative;
  background-color: #87ceeb;
}
.timeline--entry__title {
  color: white;
  background-color: #ec407a;
  font-family: "Oswald", Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 1em;
}
.timeline--entry__title:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  position: absolute;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -1em;
  border-right: 10px solid #ec407a;
}
.timeline--entry__detail {
  background-color: #F0F0F0;
  padding: 1em;
  margin: 0;
}
.timeline--entry:before {
  content: "";
  font-family: "Oswald", Georgia, Cambria, "Times New Roman", Times, serif;
  color: purple;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 3em;
  height: 3em;
  background-color: #87ceeb;
  border: .2em solid white;
  border-radius: 50%;
  position: absolute;
  counter-increment: section;
  content: counter(section);
  text-shadow: 0 1px 0 #424242;
  left: -4.5em;
}

@supports (display: grid) {
  @media (min-width: 768px) {
    .timeline {
      display: grid;
      grid-gap: 4.75em;
      grid-template-areas: ".  entry1" "entry2  ." ". entry3" "entry4 ." ". entry5";
    }
    .timeline:before {
      left: 49.5%;
    }

    .timeline--entry:nth-child(1) {
      grid-area: entry1;
    }
    .timeline--entry:nth-child(2) {
      grid-area: entry2;
    }
    .timeline--entry:nth-child(3) {
      grid-area: entry3;
    }
    .timeline--entry:nth-child(4) {
      grid-area: entry4;
    }
    .timeline--entry:nth-child(5) {
      grid-area: entry5;
    }
    .timeline--entry:nth-of-type(odd):before {
      left: -3.8em;
    }
    .timeline--entry:nth-of-type(even):not(:nth-of-type(odd)) .timeline--entry__title:before {
      left: 100%;
      border-left: 10px solid #ec407a;
      border-right: 0;
    }
    .timeline--entry:nth-of-type(even):before {
      left: 103%;
    }
  }
}

.Social_Media {

    background-color: rgb(51, 50, 50);
    font-size: 20px;
    text-align: right;
    color: white;
    padding-right: 25%;

}

.social-padding {
    vertical-align: right;
    width: 40px;
    height: 35px;
    padding-left: 5px;

}

* {
    box-sizing: border-box;
  }
