html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align: middle;
}
     
     
  /* This is my css code */   
     
  /* Use font-family: font; to change the font of text in a section */
     
     
     .School {
        font-family: arial, "Times New Roman";
        color:rgb(218, 20, 20);
        font-size: 30px;
        margin: 0px; 
        text-align: center;
        background-color: 
    }
    .project {
        font-family: arial, "Times New Roman";
        font-size: 30px;
        color:rgb(69, 194, 96);
         text-align: center;
    }
    .heading {
        background-color: cornflowerblue;
        font-size: 35px;
        text-align: center;
    }

    .Social_Media {

        background-color: rgb(29, 28, 28);
        font-size: 20px;
        text-align: right;
        color: white;
        padding-right: 25%;
        
    }

    .social-padding {
        vertical-align: right;
        width: 35px;
        height: 35px;
        padding-left: 5px;

    }

    .Writing_size {
        padding-left: 25%;
        padding-right: 25%;
        line-height: 30px;
        font-size: 18px;
        
     
    }

    .citi {
        vertical-align: middle;
        margin-left: 30%;
        margin-right: 25%;
    }

    .navbar {
        overflow: hidden;
        background-color: white;
        font-family: arial;
        padding-left: 30%;
    }
    /* links in the navbar */
    .navbar a {
       
        float: left;
        font-size: 16px;
        color: black;
        text-align: center;
        padding: 16px 16px; /* first number is vertical padding, second is padding between words */
        text-decoration: none;
     
        /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1); */
        
    }
    /* style the dropdown container*/
    .dropdown {

        float: left;
        overflow: hidden;
    }
    /* style the dropdown buttons themselves*/
    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 0px 0px;
        background-color: inherit;
        font-family: inherit;
        margin: 0; /* the last 3 lines are important for smartphone viewing, apparently */
    }

    .navbar a:hover, .dropdown:hover .dropbtn {
        color: rgb(23, 235, 23);
    }

    /* Dropdown content (hidden by default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
        z-index: 1;
    }

    /* links inside the dropdown */
    .dropdown-content a{
        float:none;
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    /* adding a gray background to dropdown on hover */
    .dropdown-content a:hover {
        background-color:rgba(128,128,128, 0.15);
    }

    /* Show the dropdown menu on hover: */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    body {
        background-color: white ;
    }
   
    /* It's good to use line-height: Xpx; to aid readability of paragraphs
    */
    
