html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align: middle;
}


  /* This is my css code */

  /* Use font-family: font; to change the font of text in a section */


     .School {
        font-family: arial, "Times New Roman";
        color:rgb(218, 20, 20);
        font-size: 30px;
        margin: 0px;
        text-align: center;
        background-color:
    }

    .project {
        font-family: arial, "Times New Roman";
        font-size: 30px;
        color:rgb(69, 194, 96);
         text-align: center;
    }
    .heading {
        background-color: cornflowerblue;
        font-size: 35px;
        text-align: center;
    }

    .Social_Media {

        background-color: rgb(51, 50, 50);
        font-size: 20px;
        text-align: right;
        color: white;
        padding-right: 25%;

    }

   /* .card{
       box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.3);
       max-width: 300px;

       float: left;
       padding: 20px 20px;
       text-align: center;

    }
    */

    * {
        box-sizing: border-box;
      }

      /* Float four columns side by side */
      .column {
        float: left;
        width: 33.33%;
        padding: 5px 10px;
        border: solid 20px;
        border-color: white;

      }

      .column2 {
         float: left;
        width: 50%;
        padding: 5px 10px;
        border: solid 20px;
        border-color: white;

      }

      /* Remove extra left and right margins, due to padding in columns */
      .row {margin: 0 -5px;
            padding-left: 6.5%;
      }

      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

      /* Remove extra left and right margins, due to padding in columns */
      .row2 {margin: 0 -5px;
        padding-left: 17%;

      }

      /* Clear floats after the columns */
      .row2:after {
       content: "";
       display: table;
       clear: both;
      }

      /* Style the counter cards */
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3); /* this adds the "card" effect */
        padding: 16px;
        max-width: 300px;
        color: black;
        float: left;
        text-align: center;
        background-color: cornflowerblue;


      }

      /* Responsive columns - one column layout (vertical) on small screens */
      @media screen and (max-width: 600px) {
        .column {
          width: 100%;
          display: block;
          margin-bottom: 20px;
        }
      }

    .Bio{
        color: black;
        font-size: 16px;
    }




    .social-padding {
        vertical-align: right;
        width: 40px;
        height: 35px;
        padding-left: 5px;

    }

   .Writing_size {
        padding-left: 25%;
        padding-right: 25%;
        line-height: 30px;
        font-size: 18px;
        color: white;
        text-shadow: /* adds drop shadow-like thing to text */
        -1px -1px 0 #8f1a8f,
        1px -1px 0 #8f1a8f,
        -1px 1px 0 #8f1a8f,
        1px 1px 0 #8f1a8f;
      
    }

    .Writing_header {

      color: black;
      font-size: 22px;
      line-height: 30px;
      vertical-align: center;
      padding-right: 16%;
      padding-left: 16%;

    }

    .citi {
        vertical-align: middle;
        margin-left: 30%;
        margin-right: 25%;
    }

    .navbar {
        overflow: hidden;
        background-color: white;
        font-family: arial;
        padding-left: 30%;
    }
    /* links in the navbar */
    .navbar a {

        float: left;
        font-size: 16px;
        color: black;
        text-align: center;
        padding: 16px 16px; /* first number is vertical padding, second is padding between words */
        text-decoration: none;

        /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1); */

    }
    /* style the dropdown container*/
    .dropdown {

        float: left;
        overflow: hidden;
    }
    /* style the dropdown buttons themselves*/
    .dropdown .dropbtn {
        transition: transform .2s;
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 0px 0px;
        background-color: inherit;
        font-family: inherit;
        margin: 0; /* the last 3 lines are important for smartphone viewing, apparently */
    }

    .navbar a:hover, .dropdown:hover .dropbtn {
        color: rgb(23, 235, 23);

        transform: scale(1.15);
    }

    /* Dropdown content (hidden by default) */
    .dropdown-content {

        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
        z-index: 1;
    }

    /* links inside the dropdown */
    .dropdown-content a{
        float:none;
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        display: block;
        text-align: left;

    }

    /* adding a gray background to dropdown on hover */
    .dropdown-content a:hover {
        background-color:rgba(128,128,128, 0.15);
        transform: scale(1);
    }

    /* Show the dropdown menu on hover: */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    body {
        background-color: white ;
    }

    .logo {
        background-image: url(logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; /* centers image to the  dimensions of  the div box */
    }



/* CSS for base slideshow */


/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.wrapper {
  position: relative;
  width:100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(90deg, rgb(170, 42, 25) 0%, rgb(84, 22, 134) 35%, rgb(9, 9, 126) 100%);
}

.box div {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(0, 0, 0, 0.8);
}

.box div:nth-child(1) {
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;

}

.box div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;

}

.box div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;

}

.box div:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;

}

.box div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;

}

.box div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;

}

.box div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;

}

.box div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;

}

.box div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;

}

.box div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;

}

.box div:nth-child(11) {
  top: 25%;
  left: 43%;
  animation: animate 11s linear infinite;

}

.box div:nth-child(12) {
  top: 85%;
  left: 37%;
  animation: animate 6s linear infinite;

}

.box div:nth-child(13) {
  top: 53%;
  left: 82%;
  animation: animate 4s linear infinite;

}

@keyframes animate {
  0%{
      transform: scale(0) translateY(0) rotate(0);
      opacity: 1;
  }
  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
      opacity: 0;
  }
}

.projectDescription h1
{
    margin: 10px 240px;
    font-size: 30px;
}

.projectDescription p
{
    margin: 10px 240px;
    font-size: 20px;
    line-height: 30px;
}

.projectDescription button
{
    border-radius: 7px;
    position: relative;
    left:45%;
    background-color: chartreuse;
    font-size: 20px;
}
    /*
     It's good to use line-height: Xpx; to aid readabil;oity of paragraphs
    */




    
