html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,section {
    display:block;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align: middle;
}


  /* This is my css code */

  /* Use font-family: font; to change the font of text in a section */


     .School {
        font-family: arial, "Times New Roman";
        color:rgb(218, 20, 20);
        font-size: 30px;
        margin: 0px;
        text-align: center;
    }

    .project {
        font-family: arial, "Times New Roman";
        font-size: 30px;
        color:rgb(69, 194, 96);
         text-align: center;
    }
    .heading {
        background-color: cornflowerblue;
        font-size: 35px;
        text-align: center;
    }


   /* .card{
       box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.3);
       max-width: 300px;

       float: left;
       padding: 20px 20px;
       text-align: center;

    }
    */

    * {
        box-sizing: border-box;
      }

      /* Float four columns side by side */
      .column {
        float: left;
        width: 33.33%;
        padding: 5px 10px;
        border: solid 20px;
        border-color: white;

      }

      .column2 {
         float: left;
        width: 50%;
        padding: 5px 10px;
        border: solid 20px;
        border-color: white;

      }

      /* Remove extra left and right margins, due to padding in columns */
      .row {margin: 0 -5px;
            padding-left: 6.5%;
      }

      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

      /* Remove extra left and right margins, due to padding in columns */
      .row2 {margin: 0 -5px;
        padding-left: 17%;

      }

      /* Clear floats after the columns */
      .row2:after {
       content: "";
       display: table;
       clear: both;
      }

      /* Style the counter cards */
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3); /* this adds the "card" effect */
        padding: 16px;
        max-width: 300px;
        color: black;
        float: left;
        text-align: center;

      }

      /* Responsive columns - one column layout (vertical) on small screens */
      @media screen and (max-width: 600px) {
        .column {
          width: 100%;
          display: block;
          margin-bottom: 20px;
        }
      }

    .Bio{
        color: black;
        font-size: 16px;
    }


.Social_Media {

    background-color: rgb(51, 50, 50);
    font-size: 20px;
    text-align: right;
    color: white;
    padding-right: 9%;

}

.social-padding {
    vertical-align: right;
    width: 40px;
    height: 35px;
    padding-left: 5px;

}

.Writing_size {
    padding-left: 25%;
    padding-right: 25%;
    line-height: 30px;
    font-size: 18px;
 
    /* adds drop shadow-like thing to text */
    /* text-shadow: -1px -1px 0 #8f1a8f, 1px -1px 0 #8f1a8f, -1px 1px 0 #8f1a8f, 1px 1px 0 #8f1a8f; */
}

    .Writing_header {

      color: black;
      font-size: 22px;
      line-height: 30px;
      vertical-align: center;
      padding-right: 16%;
      padding-left: 16%;

    }

    .citi {
        vertical-align: middle;
        margin-left: 30%;
        margin-right: 25%;
    }

    nav a
    {
        color:black;
    }

    nav a
    {
      color: white;
    }

    nav a:hover
    {
        color: #229D05;
    }

    .navbar-purple
    {
      background-color: #760E73;
    }

    body {
        background-color: rgb(26, 23, 23) ;
    }

    html, body {

      height: 100%;
      width: 100%;
    }

    .annoyed {

      border-radius: 50;
      background-color: rgb(26, 23, 23);
      width: 30px;
      height: 30px;
      z-index: 1000000;
      
      margin-bottom: 60px;
    }

    .logo {
        background-image: url(logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; /* centers image to the  dimensions of  the div box */
    }



/* CSS for base slideshow */
* {box-sizing:border-box;}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.wrapper {
  position: relative;
  width:100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(90deg, rgb(170, 42, 25) 0%, rgb(84, 22, 134) 35%, rgb(9, 9, 126) 100%);
}


.projectDescription h1
{
    margin: 10px 240px;
    font-size: 30px;
}

.projectDescription p
{
    margin: 10px 240px;
    font-size: 20px;
    line-height: 30px;
}

.projectDescription button
{
    border-radius: 7px;
    position: relative;
    left:45%;
    background-color: chartreuse;
    font-size: 20px;
}
   .circle_picture {
  border-radius: 50%;
  min-height: 150px;
  min-width: 150px;
  transition: transform .2s;
  
  text-align: center;
  margin-left: 4.5%;
  margin-top: 5%;
  display: inline-block;
  vertical-align: middle;
  z-index: 1000;

  
 
}

.extracircle {
  border-radius: 50%;
  height: 180px;
  width: 180px;
  background: cornflowerblue;
  z-index: -1000;
  margin-left: 5%
  
  
}

.circle_picture:hover {
  transform: scale(1.1);
  
}

.circle_text {
  float: right;
  text-align: center;
  vertical-align: top;
  margin-top: -12%;
  margin-left: 40%;
  line-height: 30px;
  
}

.mangos {
  margin-left: 10%;
  z-index: 10000;
  
}

.mangos:hover{
      z-index: 1000;
    

}

.container {
  min-width: 100%;
  height: auto;
  padding: 1%;
}

.full-height {
  height: 100%;
}
/* start of leaf animation */

.body_two{
  background: #222;
}

.wrapper_two {
    position: relative;
	bottom: 0;
    width:100%;
    height: 100%;
}

.wrapper_three {

  position: absolute;
  width: 100%;
  height: 100%;
  
}

.box_two {
	position: relative;
	margin:auto;
	display:block;
  background:none;
 
 
}

.pot {
	position:absolute;
	width:20%;
	height:20%;
	bottom:0;
	left:40%;
	background:#FCAA67;
	-webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
	clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
	box-shadow: inset 0 16px 20px rgba(0,0,0,0.3);
}

.pot-top {
	position:absolute;
	width:22%;
	height:5%;
	bottom:17%;
	left:39%;
	background:#FCAA67;
	border-radius:3px;
}

.stem {
	position:absolute;
	width: 3%;
	height: 80%;
	left:49%;
	bottom:20%;
	background:#70B77E;
}

.leaf {
	position:absolute;
	image-orientation: -25deg;
}

.leaf .line {
	position:absolute;
	width:80%; /* literally the lines in the middle of the leaves */
	height:1%;
	background:rgba(0,0,0,0.1);
	top:48%;
}

.leaf01 {
  width:100%;
	top:70%;
	left:50%;
	transform:rotate(0deg);
}

.leaf02 {
  width: 100%;
	top:50%;
	right:50%;
	transform:rotate(60deg);
}

.leaf03 {
  width: 100%;
	top:30%;
	left:50%;
	transform:rotate(0deg);
} 

.leaf04 {
  width: 100%;
	top:10%;
	right:50%;
	transform:rotate(0deg);
}  

/*.leaf05 {
  width: 80%;
	top:-17%;
	left:-120%;
	transform:rotate(0deg);
} */

/* .leaf06 {
  width: 80%;
	top:-9%;
	right:22%;
	transform:rotate(0deg);
} */

/* --- ANIMATION --- */

.stem, .leaf {
	animation-duration: 1.2s!important;
	animation-fill-mode:forwards;
}   

.stem.rain {
	animation: grow 1s linear 1;
}

@keyframes grow {
	0% {
		bottom:-40%;
		width:1%;
	}
	
	100% {
		bottom:20%;
		width:2%;
	}
}

.stem .leaf {
	animation: leafGrow 1s linear 1;
	animation-fill-mode:forwards;
}

@keyframes leafGrow {
	0% {
		width:0%;
		height:0%;
	}
	
	100% {
		width:1500%;
		height:20%;
	}
} 

.stem .leaf05 {
	animation: topLeafRight 1s linear 1;
}

@keyframes topLeafRight {
	0% {
		top:5%;
		width:0%;
		height:0%;
		left:10%;
	}
	
	100% {
		width:700%;
		height:10%;
		top:-17%;
		left:-120%;
	}
}

.stem .leaf06 {
	animation: topLeafLeft 1s linear 1;
}

@keyframes topLeafLeft {
	0% {
		top:0%;
		width:0%;
		height:0%;
	}
	
	100% {
		width:700%;
		height:10%;
		top:-9%;
	}
}  

.drop {
	position:absolute;
	top:30px;
	left:20px;
	width: 50px;
	height: 50px;
	border: none;
	-webkit-border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
	border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
	font: normal 100%/normal Arial, Helvetica, sans-serif;
	background:#17BEBB;
	-webkit-transform: rotateZ(-45deg)   ;
	transform: rotateZ(-45deg)   ;
	-webkit-transform-origin: 50% 50% 0;
	transform-origin: 50% 50% 0;
	animation:rain 2s linear 1;
	animation-fill-mode:forwards;
	cursor:pointer;
	z-index:9999;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: center;
  vertical-align: middle;
   /* text-shadow:  adds drop shadow-like thing to text */
      /*  -1px -1px 0 #ffffff,
        1px -1px 0 #ffffff,
        -1px 1px 0 #ffffff,
        1px 1px 0 #ffffff; */ 
}
/* purple particle animation */

    /*
     It's good to use line-height: Xpx; to aid readabil;oity of paragraphs
    */



    
